n8n/02-discover.json
{
  "name": "supplylens: 02 Discover",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "intervalValue": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 15 Min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "Called by Pipeline",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const inp = $input.first().json;\nreturn [{ json: { direct_company: inp.company || null } }];"
      },
      "id": "unify",
      "name": "Unify Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        80
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT key, value FROM pipeline_config",
        "additionalFields": {}
      },
      "id": "fetch-config",
      "name": "Fetch Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        440,
        80
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "supplylens-pg"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nconst config = {};\nfor (const r of rows) config[r.json.key] = r.json.value;\nconst direct = $('Unify Input').first().json.direct_company;\nreturn [{ json: { config, direct_company: direct } }];"
      },
      "id": "build-config",
      "name": "Build Config Map",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        80
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE expand_queue SET status='in_progress', started_at=NOW() WHERE id = (SELECT id FROM expand_queue WHERE status='queued' AND ($1::text IS NULL OR company_name=$1) AND tier <= $2::int ORDER BY tier ASC, created_at ASC LIMIT 1 FOR UPDATE SKIP LOCKED) RETURNING id, company_name, country, tier",
        "options": {
          "queryReplacement": "={{ [$('Build Config Map').first().json.direct_company, $('Build Config Map').first().json.config.max_tier_depth] }}"
        }
      },
      "id": "claim-work",
      "name": "Claim Queue Item",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        880,
        80
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "supplylens-pg"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-work",
              "leftValue": "={{ $json.id !== null && $json.id !== undefined }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "has-work",
      "name": "Has Work?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const q = $input.first().json;\nconst config = $('Build Config Map').first().json.config;\nconst company = q.company_name;\nreturn [\n  { json: { queue_id: q.id, company, country: q.country, tier: q.tier, config, query: `\"${company}\" supplier manufacturer` } },\n  { json: { queue_id: q.id, company, country: q.country, tier: q.tier, config, query: `\"${company}\" supply chain sourcing` } },\n  { json: { queue_id: q.id, company, country: q.country, tier: q.tier, config, query: `\"${company}\" annual report suppliers` } }\n];"
      },
      "id": "build-queries",
      "name": "Build Search Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Build Config Map').first().json.config.searxng_base }}/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.query }}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "engines",
              "value": "google,bing,duckduckgo"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "pageno",
              "value": "1"
            }
          ]
        },
        "options": {
          "timeout": 15000
        },
        "onError": "continueRegularOutput"
      },
      "id": "search",
      "name": "SearXNG Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all();\nconst config = $('Build Config Map').first().json.config;\nconst queue_item = $('Claim Queue Item').first().json;\nconst max_results = parseInt(config.search_results_per_query || '3');\n\nconst urls = [];\nfor (const r of results) {\n  const hits = r.json?.results || [];\n  for (const hit of hits.slice(0, max_results)) {\n    if (hit.url && !hit.url.includes('linkedin.com') && !hit.url.includes('facebook.com')) {\n      urls.push({ url: hit.url, title: hit.title, snippet: hit.content || '' });\n    }\n  }\n}\n\nconst unique_urls = urls.filter((v, i, a) => a.findIndex(u => u.url === v.url) === i).slice(0, 6);\nreturn unique_urls.map(u => ({ json: { ...u, company: queue_item.company_name, queue_id: queue_item.id, tier: queue_item.tier } }));"
      },
      "id": "collect-urls",
      "name": "Collect Unique URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use snippet from search result as page content\n// Browserless is optional enrichment; snippets are sufficient for LLM extraction\nconst item = $input.first().json;\nconst body = item.snippet || item.title || '';\nreturn [{ json: { body, url: item.url } }];"
      },
      "id": "fetch-page",
      "name": "Prepare Page Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const page = $input.first().json;\nconst ctx = $('Collect Unique URLs').first().json;\nconst config = $('Build Config Map').first().json.config;\nconst max_claims = parseInt(config.max_claims_per_batch || '5');\n\nlet raw_text = '';\ntry {\n  const body = page?.body || page?.data || '';\n  if (typeof body === 'string' && body.length > 0) {\n    raw_text = body.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n  }\n} catch(e) {}\nif (!raw_text || raw_text.length < 50) raw_text = ctx.snippet || ctx.title || '';\nraw_text = raw_text.substring(0, 3000);\n\nconst company = config.seed_company || ctx.company || 'Unknown';\nconst prompt = `Extract supply chain relationships involving \"${company}\" from the following web content.\n\nSource URL: ${ctx.url}\nContent: ${raw_text}\n\nReturn a JSON object with this EXACT structure (no markdown):\n{\"claims\": [{\"subject\": \"Company Name\", \"predicate\": \"SUPPLIES|BUYS_FROM|MANUFACTURES|DISTRIBUTES|PARTNERS_WITH|CERTIFIES|LOCATED_IN\", \"object\": \"Other Company or Product or Location\", \"confidence\": 0.0-1.0, \"source_url\": \"${ctx.url}\"}]}\n\nRules:\n- subject: the company/organization that is the source of the relationship\n- predicate: one of the exact strings above\n- object: the target company, product, material, or location\n- confidence: how certain you are (0.5-1.0)\n- Only include claims with confidence >= 0.5\n- Max ${max_claims} claims\n- If no supply chain relationships found, return: {\"claims\": []}`;\n\nreturn [{ json: { prompt, company, url: ctx.url, config } }];"
      },
      "id": "build-extract-prompt",
      "name": "Build Extract Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.config.openrouter_base }}/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.config.extract_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://supplylens.xyz"
            },
            {
              "name": "X-Title",
              "value": "SupplyLens"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $json.config.extract_model }}"
            },
            {
              "name": "messages",
              "value": "={{ [{\"role\": \"user\", \"content\": $json.prompt}] }}"
            },
            {
              "name": "temperature",
              "value": 0.1
            },
            {
              "name": "max_tokens",
              "value": 1500
            }
          ]
        },
        "options": {
          "timeout": 60000
        },
        "onError": "continueRegularOutput"
      },
      "id": "llm-extract",
      "name": "LLM Extract Claims",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2420,
        0
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 10000
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst ctx = $('Build Config Map').first().json;\nconst company = ctx.company;\n\nlet claims = [];\ntry {\n  let content = resp?.choices?.[0]?.message?.content || '{}';\n  // Strip markdown code blocks\n  content = content.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/i, '').trim();\n  const parsed = JSON.parse(content);\n  // Handle both {\"claims\": [...]} and [...] formats\n  if (Array.isArray(parsed)) {\n    claims = parsed;\n  } else if (parsed.claims && Array.isArray(parsed.claims)) {\n    claims = parsed.claims;\n  }\n} catch(e) { claims = []; }\n\nconst confidence_threshold = parseFloat(ctx.config?.confidence_threshold || '0.5');\n\nreturn claims\n  .filter(c => c.subject && c.object && (c.confidence || 0) >= confidence_threshold)\n  .map(c => ({\n    json: {\n      subject: c.subject || company,\n      predicate: c.predicate || 'SUPPLIES',\n      object: c.object,\n      confidence: c.confidence || 0.7,\n      source_url: c.source_url || resp?.choices?.[0]?.message?.content?.slice(0,50) || '',\n      raw_text: '',\n      tier: 1\n    }\n  }));"
      },
      "id": "parse-claims",
      "name": "Parse Claims",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO claims (subject, predicate, object, confidence, raw_text, source_url, tier, validation_status) VALUES ($1, $2, $3, $4::float, $5, $6, $7::int, 'pending') ON CONFLICT DO NOTHING",
        "options": {
          "queryReplacement": "={{ [$json.subject, $json.predicate, $json.object, $json.confidence || 0.7, $json.raw_text || '', $json.source_url || '', $json.tier || 1] }}"
        }
      },
      "id": "insert-claims",
      "name": "Insert Claims",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2860,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "supplylens-pg"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE expand_queue SET status='done' WHERE id=$1",
        "options": {
          "queryReplacement": "={{ [$('Claim Queue Item').first().json.id] }}"
        }
      },
      "id": "mark-done",
      "name": "Mark Queue Done",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3200,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "supplylens-pg"
        }
      }
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "merge-done",
      "name": "Merge Before Done",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2970,
        0
      ]
    }
  ],
  "connections": {
    "Every 15 Min": {
      "main": [
        [
          {
            "node": "Unify Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Called by Pipeline": {
      "main": [
        [
          {
            "node": "Unify Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unify Input": {
      "main": [
        [
          {
            "node": "Fetch Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Config": {
      "main": [
        [
          {
            "node": "Build Config Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Config Map": {
      "main": [
        [
          {
            "node": "Claim Queue Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim Queue Item": {
      "main": [
        [
          {
            "node": "Has Work?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Work?": {
      "main": [
        [
          {
            "node": "Build Search Queries",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Before Done",
            "type": "main",
            "index": 1
          }
        ],
        []
      ]
    },
    "Build Search Queries": {
      "main": [
        [
          {
            "node": "SearXNG Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SearXNG Search": {
      "main": [
        [
          {
            "node": "Collect Unique URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Unique URLs": {
      "main": [
        [
          {
            "node": "Prepare Page Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Page Content": {
      "main": [
        [
          {
            "node": "Build Extract Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Extract Prompt": {
      "main": [
        [
          {
            "node": "LLM Extract Claims",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Extract Claims": {
      "main": [
        [
          {
            "node": "Parse Claims",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claims": {
      "main": [
        [
          {
            "node": "Insert Claims",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Claims": {
      "main": [
        [
          {
            "node": "Merge Before Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Queue Done": {
      "main": [
        []
      ]
    },
    "Merge Before Done": {
      "main": [
        [
          {
            "node": "Mark Queue Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    "supplylens"
  ],
  "notes": "Pipeline 02: Discover\n- Polls expand_queue for queued companies\n- Runs 3 SearXNG searches per company\n- Fetches top 6 pages via Browserless\n- Gemini Flash extracts supply chain claims\n- Inserts raw claims into PostgreSQL\n- Triggers 03-challenge"
}