n8n/02-discover.json
{
  "name": "supplylens: 02 Discover",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "intervalValue": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 15 Min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "Called by Pipeline",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const inp = $input.first().json;\nreturn [{ json: { direct_company: inp.company || null } }];"
      },
      "id": "unify",
      "name": "Unify Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        80
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT key, value FROM pipeline_config",
        "additionalFields": {}
      },
      "id": "fetch-config",
      "name": "Fetch Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        440,
        80
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "supplylens-pg"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nconst config = {};\nfor (const r of rows) config[r.json.key] = r.json.value;\nconst direct = $('Unify Input').first().json.direct_company;\nreturn [{ json: { config, direct_company: direct } }];"
      },
      "id": "build-config",
      "name": "Build Config Map",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        80
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE expand_queue SET status='in_progress', started_at=NOW() WHERE id = (SELECT id FROM expand_queue WHERE status='queued' AND ($1::text IS NULL OR company_name=$1) AND tier <= $2::int ORDER BY tier ASC, created_at ASC LIMIT 1 FOR UPDATE SKIP LOCKED) RETURNING id, company_name, country, tier",
        "options": {
          "queryReplacement": "={{ [$('Build Config Map').first().json.direct_company, $('Build Config Map').first().json.config.max_tier_depth] }}"
        }
      },
      "id": "claim-work",
      "name": "Claim Queue Item",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        880,
        80
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "supplylens-pg"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-work",
              "leftValue": "={{ $json.id !== null && $json.id !== undefined }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "has-work",
      "name": "Has Work?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const q = $input.first().json;\nconst config = $('Build Config Map').first().json.config;\nconst company = q.company_name;\nreturn [\n  { json: { queue_id: q.id, company, country: q.country, tier: q.tier, config, query: `\"${company}\" supplier manufacturer` } },\n  { json: { queue_id: q.id, company, country: q.country, tier: q.tier, config, query: `\"${company}\" supply chain sourcing` } },\n  { json: { queue_id: q.id, company, country: q.country, tier: q.tier, config, query: `\"${company}\" annual report suppliers` } }\n];"
      },
      "id": "build-queries",
      "name": "Build Search Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Build Config Map').first().json.config.searxng_base }}/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.query }}"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "engines",
              "value": "google,bing,duckduckgo"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "pageno",
              "value": "1"
            }
          ]
        },
        "options": {
          "timeout": 15000
        },
        "onError": "continueRegularOutput"
      },
      "id": "search",
      "name": "SearXNG Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all();\nconst config = $('Build Config Map').first().json.config;\nconst queue_item = $('Claim Queue Item').first().json;\nconst max_results = parseInt(config.search_results_per_query || '3');\n\nconst urls = [];\nfor (const r of results) {\n  const hits = r.json?.results || [];\n  for (const hit of hits.slice(0, max_results)) {\n    if (hit.url && !hit.url.includes('linkedin.com') && !hit.url.includes('facebook.com')) {\n      urls.push({ url: hit.url, title: hit.title, snippet: hit.content || '' });\n    }\n  }\n}\n\nconst unique_urls = urls.filter((v, i, a) => a.findIndex(u => u.url === v.url) === i).slice(0, 6);\nreturn unique_urls.map(u => ({ json: { ...u, company: queue_item.company_name, queue_id: queue_item.id, tier: queue_item.tier } }));"
      },
      "id": "collect-urls",
      "name": "Collect Unique URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Build Config Map').first().json.config.browserless_url }}/chromium/scrape",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.url }}"
            },
            {
              "name": "elements",
              "value": "={{ [{\"selector\": \"body\"}] }}"
            },
            {
              "name": "gotoOptions",
              "value": "={{ {\"waitUntil\": \"domcontentloaded\", \"timeout\": 10000} }}"
            }
          ]
        },
        "options": {
          "timeout": 20000
        },
        "onError": "continueRegularOutput"
      },
      "id": "fetch-page",
      "name": "Fetch Page Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const page = $input.first().json;\nconst ctx = $('Collect Unique URLs').first().json;\nconst config = $('Build Config Map').first().json.config;\n\nlet raw_text = '';\ntry {\n  const elements = page?.data || page?.results || [];\n  raw_text = elements.map(e => e.text || e.results?.[0]?.text || '').join(' ');\n} catch(e) {}\nif (!raw_text) raw_text = ctx.snippet || '';\nraw_text = raw_text.replace(/\\s+/g, ' ').substring(0, 3000);\n\nconst prompt = `You are a supply chain analyst. Extract supply chain relationships from the text below.\\n\\nCompany under investigation: ${ctx.company}\\nSource URL: ${ctx.url}\\n\\nTEXT:\\n${raw_text}\\n\\nReturn ONLY valid JSON array. Extract every supplier, manufacturer, partner, or sourcing relationship mentioned.\\nFormat: [{\"subject\": \"Company A\", \"predicate\": \"SUPPLIES\", \"object\": \"Company B\", \"subject_country\": \"NL\", \"object_country\": \"CN\", \"raw_excerpt\": \"exact quote\"}]\\nPredicate must be one of: SUPPLIES, MANUFACTURES, SOURCES_FROM, OWNS, PARTNERS_WITH, SHIPS_TO\\nIf no relationships found return: []`;\n\nreturn [{ json: { prompt, company: ctx.company, source_url: ctx.url, queue_id: ctx.queue_id, tier: ctx.tier, config } }];"
      },
      "id": "build-extract-prompt",
      "name": "Build Extract Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.config.openrouter_base }}/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.config.extract_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "HTTP-Referer",
              "value": "https://supplylens.xyz"
            },
            {
              "name": "X-Title",
              "value": "SupplyLens"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $json.config.extract_model }}"
            },
            {
              "name": "messages",
              "value": "={{ [{\"role\": \"user\", \"content\": $json.prompt}] }}"
            },
            {
              "name": "temperature",
              "value": 0.1
            },
            {
              "name": "max_tokens",
              "value": 1500
            }
          ]
        },
        "options": {
          "timeout": 60000
        },
        "onError": "continueRegularOutput"
      },
      "id": "llm-extract",
      "name": "LLM Extract Claims",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2420,
        0
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 10000
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst ctx = $('Build Extract Prompt').first().json;\n\nlet claims = [];\ntry {\n  let content = resp?.choices?.[0]?.message?.content || '[]';\n  content = content.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/i, '').trim();\n  claims = JSON.parse(content);\n  if (!Array.isArray(claims)) claims = [];\n} catch(e) { claims = []; }\n\nreturn claims.map(c => ({\n  json: {\n    subject: c.subject || '',\n    predicate: c.predicate || 'SUPPLIES',\n    object: c.object || '',\n    subject_country: c.subject_country || null,\n    object_country: c.object_country || null,\n    raw_excerpt: c.raw_excerpt || '',\n    source_url: ctx.source_url,\n    tier: ctx.tier + 1,\n    queue_id: ctx.queue_id\n  }\n})).filter(c => c.json.subject && c.json.object);"
      },
      "id": "parse-claims",
      "name": "Parse Claims",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO claims (subject, predicate, object, subject_country, object_country, raw_text, source_url, tier, validation_status) VALUES ($1, $2, $3, $4, $5, $6, $7, $8, 'pending') ON CONFLICT DO NOTHING",
        "options": {
          "queryReplacement": "={{ [$json.subject, $json.predicate, $json.object, $json.subject_country, $json.object_country, $json.raw_excerpt, $json.source_url, $json.tier] }}"
        }
      },
      "id": "insert-claims",
      "name": "Insert Claims",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2860,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "supplylens-pg"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE expand_queue SET status='done' WHERE id=$1",
        "options": {
          "queryReplacement": "={{ [$('Claim Queue Item').first().json.id] }}"
        }
      },
      "id": "mark-done",
      "name": "Mark Queue Done",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3080,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "supplylens-pg"
        }
      }
    }
  ],
  "connections": {
    "Every 15 Min": {
      "main": [
        [
          {
            "node": "Unify Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Called by Pipeline": {
      "main": [
        [
          {
            "node": "Unify Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unify Input": {
      "main": [
        [
          {
            "node": "Fetch Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Config": {
      "main": [
        [
          {
            "node": "Build Config Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Config Map": {
      "main": [
        [
          {
            "node": "Claim Queue Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim Queue Item": {
      "main": [
        [
          {
            "node": "Has Work?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Work?": {
      "main": [
        [
          {
            "node": "Build Search Queries",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build Search Queries": {
      "main": [
        [
          {
            "node": "SearXNG Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SearXNG Search": {
      "main": [
        [
          {
            "node": "Collect Unique URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Unique URLs": {
      "main": [
        [
          {
            "node": "Fetch Page Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Page Content": {
      "main": [
        [
          {
            "node": "Build Extract Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Extract Prompt": {
      "main": [
        [
          {
            "node": "LLM Extract Claims",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Extract Claims": {
      "main": [
        [
          {
            "node": "Parse Claims",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claims": {
      "main": [
        [
          {
            "node": "Insert Claims",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Claims": {
      "main": [
        [
          {
            "node": "Mark Queue Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Queue Done": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    "supplylens"
  ],
  "notes": "Pipeline 02: Discover\n- Polls expand_queue for queued companies\n- Runs 3 SearXNG searches per company\n- Fetches top 6 pages via Browserless\n- Gemini Flash extracts supply chain claims\n- Inserts raw claims into PostgreSQL\n- Triggers 03-challenge"
}